<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="petpple.kiwi.member.repository.member.MemberMapper">

    <select id="getMemberList" resultType="Member">
        select * 
        from member
    </select>

    <select id="getMember" resultType="Member">
        select * 
        from member where id = #{id}
    </select>
    
    <select id="getCount" resultType="java.lang.Integer">
	     select count(*) 
	     from member
    </select>
<!--     <insert id="createMember"> -->
        
<!--     </insert> -->

    <insert id="applyMember">
        INSERT INTO S_APPLY(S_APP_ID,S_APP_PRO_TITLE,S_APP_PRO_CONTENT,S_APP_DATE,S_APP_DEPOSITOR,S_APP_ACC_NUMBER,S_APP_OPE_DATE,TMP_MEMBER_ID,S_STA_ID,P_PET_ID,P_PET_KIN_ID,BANK_ID)
		VALUES(#{s_app_id},#{s_app_pro_title},#{s_app_pro_content},#{s_app_date},#{s_app_depositor},#{s_app_acc_number},#{s_app_ope_date},#{tmp_member_id},#{s_sta_id},#{p_pet_id},#{p_pet_kin_id},#{bank_id});
    </insert>

    <delete id="deleteMember">
        delete 
        from member
        where id = #{id}
    </delete>

    <update id="updateMember">
        update member 
        set name = #{name}
        where id = #{id}
    </update>
    
    <!-- 방문 서비스 펫시팅 현황 -->
    <select id="waitingAcceptance" resultType="java.lang.Integer">
    	SELECT COUNT(*) AS COUNT
		FROM VIEW_WAITING_ACCEPTANCE
    </select>
    
    <select id="sumPetsitting" resultType="java.lang.Integer">
    	SELECT COUNT(*) AS COUNT
		FROM VIEW_SUM_PETSITTING
    </select>
    
    
    <!-- 위탁 서비스 펫시팅 현황  -->
    <select id="waitingFacceptance" resultType="java.lang.Integer">
    	SELECT COUNT(*) AS COUNT
		FROM VIEW_WAITING_FACCEPTANCE
    </select>
    
    <select id="sumFpetsitting" resultType="java.lang.Integer">
    	SELECT COUNT(*) AS COUNT
		FROM VIEW_SUM_FPETSITTING
    </select>
    
    <select id="currentPetsitting" resultType="Member">
    	SELECT V_ID AS vid, V_CLI_ADDR AS addr, V_START_DATE AS startDate
		, V_END_DATE AS endDate, V_REQ_DATE AS reqDate, P_TOTAL AS totalPrice
		, MEM_NICKNAME AS petsitterNickname, MEM_IMG AS petsitterProfile  
		FROM MEMBER M JOIN TMP_MEM TM
		ON M.TMP_MEMBER_ID = TM.T_MEM_ID
		JOIN PET_SHARE PS
		ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
		JOIN V_PET_CHO VPC
		ON PS.P_SHA_ID = VPC.P_SHA_ID
		JOIN V V
		ON VPC.V_ID = V.V_ID
		JOIN S_ALLOW SA
		ON V.S_ALL_ID = SA.S_ALL_ID
		JOIN S_APPLY S
		ON SA.S_APP_ID = S.S_APP_ID
		JOIN V_RESERV VR
		ON V.V_ID = VR.V_ID
		JOIN PAY P
		ON P.P_ID = V.PAYMENT_ID
		WHERE TM.T_MEM_ID = 'UV8YF0IN08'
    </select>
    
    <select id="tempIdsearch" resultType="String">
    
    	<![CDATA[
    	SELECT T_MEM_ID
		FROM MEMBER M JOIN TMP_MEM TM           
		ON M.TMP_MEMBER_ID = TM.T_MEM_ID
		JOIN PET_SHARE PS
		ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
		JOIN V_PET_CHO VPC
		ON PS.P_SHA_ID = VPC.P_SHA_ID
		JOIN V V
		ON VPC.V_ID = V.V_ID
		JOIN S_ALLOW SA
		ON V.S_ALL_ID = SA.S_ALL_ID
		JOIN S_APPLY S
		ON SA.S_APP_ID = S.S_APP_ID
		JOIN V_RESERV VR
		ON V.V_ID = VR.V_ID
		JOIN V_CONFIRM VC
		ON VR.V_RES_ID = VC.V_RES_ID
		WHERE MEM_ID_ID= #{id}
		]]>
    </select>
 
</mapper>