<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="petpple.kiwi.member.repository.member.MemberMapper">

    <select id="getMemberList" resultType="Member">
        select * 
        from member
    </select>

    <select id="getMember" resultType="Member">
        select * 
        from member where id = #{id}
    </select>
    
    <select id="getCount" resultType="java.lang.Integer">
        select count(*) 
        from member
    </select>
<!--     <insert id="createMember"> -->
        
<!--     </insert> -->

    <insert id="applyMember">
        INSERT INTO S_APPLY(S_APP_ID,S_APP_PRO_TITLE,S_APP_PRO_CONTENT,S_APP_DATE,S_APP_DEPOSITOR,S_APP_ACC_NUMBER,S_APP_OPE_DATE,TMP_MEMBER_ID,S_STA_ID,P_PET_ID,P_PET_KIN_ID,BANK_ID)
      VALUES(#{s_app_id},#{s_app_pro_title},#{s_app_pro_content},#{s_app_date},#{s_app_depositor},#{s_app_acc_number},#{s_app_ope_date},#{tmp_member_id},#{s_sta_id},#{p_pet_id},#{p_pet_kin_id},#{bank_id})
    </insert>

    <delete id="deleteMember">
        delete 
        from member
        where id = #{id}
    </delete>

    <update id="updateMember">
        update member 
        set name = #{name}
        where id = #{id}
    </update>
    
    <!-- 방문 서비스 수락 대기 횟수 -->
    
    <select id="waitingAcceptance" resultType="java.lang.Integer">
       SELECT COUNT(*) AS COUNT
      FROM MEMBER M JOIN TMP_MEM TM
      ON M.TMP_MEMBER_ID = TM.T_MEM_ID
      JOIN PET_SHARE PS
      ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
      JOIN V_PET_CHO VPC
      ON VPC.P_SHA_ID = PS.P_SHA_ID
      JOIN V V
      ON VPC.V_ID = V.V_ID
      JOIN PAY P
      ON P.P_ID = V.PAYMENT_ID
      LEFT OUTER JOIN V_REF_REF VRR
      ON VRR.V_ID = V.V_ID
      LEFT OUTER JOIN V_RESERV VR
      ON V.V_ID = VR.V_ID  
      WHERE TM.T_MEM_ID='${temId }' 
      AND VRR.V_REF_REF_DATE IS NULL 
      AND VR.V_RES_DATE IS NULL
      AND V_START_DATE <![CDATA[<]]>= SYSDATE
    </select>
   
    <!-- 방문 서비스 누적 펫시팅 현황 -->
    <select id="sumPetsitting" resultType="java.lang.Integer">
       SELECT COUNT(*) AS COUNT
      FROM VIEW_SUM_PETSITTING
    </select>
    
    
    <!-- 위탁 서비스 펫시팅 현황  -->
    <select id="waitingFacceptance" resultType="java.lang.Integer">
       SELECT COUNT(*) AS COUNT
      FROM VIEW_WAITING_FACCEPTANCE
    </select>
    
    <select id="sumFpetsitting" resultType="java.lang.Integer">
       SELECT COUNT(*) AS COUNT
      FROM VIEW_SUM_FPETSITTING
    </select>
    
    <!-- 현재 진행 중 펫시팅 -->
    <select id="currentPetsitting" resultType="Member" parameterType="String">
    SELECT V.V_ID AS vid, VR.V_RES_ID AS vresId, V.V_CLI_ADDR AS addr, TO_CHAR(V.V_START_DATE, '""YYYY"년 "MM"월 "DD"일"') AS startDate
      , TO_CHAR(V_END_DATE, '""YYYY"년 "MM"월 "DD"일"') AS endDate, TO_CHAR(V.V_REQ_DATE, '""YYYY"년 "MM"월 "DD"일"') AS reqDate, P_TOTAL AS totalPrice
      ,(SELECT MEM_NICKNAME 
	   FROM MEMBER 
	   WHERE sp.TMP_MEMBER_ID=TMP_MEMBER_ID) AS petsitterNickname
	  ,(SELECT MEM_IMG  
	   FROM MEMBER 
	   WHERE sp.TMP_MEMBER_ID=TMP_MEMBER_ID) AS petsitterProfile
FROM MEMBER M 
JOIN TMP_MEM TM
ON M.TMP_MEMBER_ID = TM.T_MEM_ID 
JOIN PET_SHARE PS
ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
JOIN V_PET_CHO VPC
ON VPC.P_SHA_ID = PS.P_SHA_ID
JOIN V V
ON VPC.V_ID = V.V_ID
JOIN PAY P
ON P.P_ID = V.PAYMENT_ID
JOIN V_RESERV VR
ON V.V_ID = VR.V_ID
LEFT OUTER JOIN S_ALLOW sa 
ON sa.S_ALL_ID = v.S_ALL_ID  
LEFT OUTER JOIN S_APPLY sp
ON sp.S_APP_ID = sa.S_APP_ID 
LEFT OUTER JOIN V_REF_REF VRR
ON VRR.V_ID = V.V_ID 
LEFT OUTER JOIN V_CAN_REF VCR
ON VR.V_RES_ID = VCR.V_RES_ID
LEFT OUTER JOIN V_NOS_REF VNR
ON VR.V_RES_ID = VNR.V_RES_ID
LEFT OUTER JOIN V_CONFIRM VC
ON VR.V_RES_ID = VC.V_RES_ID
WHERE TM.T_MEM_ID=#{temId}
AND VRR.V_REF_REF_DATE IS NULL
AND VCR.V_CAN_REF_DATE IS NULL  
AND VNR.V_NOS_REF_DATE IS NULL
AND VC.V_CON_DATE IS NULL       
AND V.V_START_DATE <![CDATA[<]]>= SYSDATE
AND V.V_END_DATE<![CDATA[>]]>= SYSDATE    
    </select>
    
    <!-- 서비스 이용 확정 대기 -->
    <select id="comfirmWaiting" resultType="Member" parameterType="String">
      SELECT V.V_ID AS vid, VR.V_RES_ID AS vresId, V.V_CLI_ADDR AS addr, V_START_DATE AS startDate
      , V_END_DATE AS endDate, TO_CHAR(V.V_REQ_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS reqDate, P_TOTAL AS totalPrice
      ,(SELECT MEM_NICKNAME 
	   FROM MEMBER 
	   WHERE sp.TMP_MEMBER_ID=TMP_MEMBER_ID) AS petsitterNickname
	  ,(SELECT MEM_IMG  
	   FROM MEMBER 
	   WHERE sp.TMP_MEMBER_ID=TMP_MEMBER_ID) AS petsitterProfile
FROM MEMBER M 
JOIN TMP_MEM TM
ON M.TMP_MEMBER_ID = TM.T_MEM_ID
JOIN PET_SHARE PS
ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
JOIN V_PET_CHO VPC
ON VPC.P_SHA_ID = PS.P_SHA_ID
JOIN V V
ON VPC.V_ID = V.V_ID
JOIN PAY P
ON P.P_ID = V.PAYMENT_ID
JOIN V_RESERV VR
ON V.V_ID = VR.V_ID
LEFT OUTER JOIN S_ALLOW sa 
ON sa.S_ALL_ID = v.S_ALL_ID  
LEFT OUTER JOIN S_APPLY sp
ON sp.S_APP_ID = sa.S_APP_ID 
LEFT OUTER JOIN V_REF_REF VRR
ON VRR.V_ID = V.V_ID 
LEFT OUTER JOIN V_CAN_REF VCR
ON VR.V_RES_ID = VCR.V_RES_ID
LEFT OUTER JOIN V_NOS_REF VNR
ON VR.V_RES_ID = VNR.V_RES_ID
LEFT OUTER JOIN V_CONFIRM VC
ON VR.V_RES_ID = VC.V_RES_ID
WHERE TM.T_MEM_ID=#{temId}
AND VRR.V_REF_REF_DATE IS NULL
AND VCR.V_CAN_REF_DATE IS NULL  
AND VNR.V_NOS_REF_DATE IS NULL  
AND VC.V_CON_DATE IS NULL       
AND V.V_END_DATE <![CDATA[<]]>= SYSDATE    
AND V.V_END_DATE <![CDATA[+]]> 3 <![CDATA[>]]>= SYSDATE    

    </select>
  
<!--       AND SYSDATE >= V.V_START_DATE -->
<!--       AND SYSDATE < V.V_END_DATE -->
   <!-- 진행 예정인 펫시팅 -->
    <select id="petsittingSchedule" resultType="Member" parameterType="String">
       SELECT V.V_ID AS vid, VR.V_RES_ID AS vresId, V.V_CLI_ADDR AS addr, TO_CHAR(V_START_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS startDate
      , TO_CHAR(V_END_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS endDate, TO_CHAR(V.V_REQ_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS reqDate, P_TOTAL AS totalPrice
      ,(SELECT MEM_NICKNAME 
      						   FROM MEMBER 
      						   WHERE sp.TMP_MEMBER_ID=TMP_MEMBER_ID) AS petsitterNickname
      ,(SELECT MEM_IMG  
	   FROM MEMBER 
	   WHERE sp.TMP_MEMBER_ID=TMP_MEMBER_ID) AS petsitterProfile
FROM MEMBER M JOIN TMP_MEM TM
ON M.TMP_MEMBER_ID = TM.T_MEM_ID
JOIN PET_SHARE PS
ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
JOIN V_PET_CHO VPC
ON VPC.P_SHA_ID = PS.P_SHA_ID
JOIN V V
ON VPC.V_ID = V.V_ID
JOIN PAY P
ON P.P_ID = V.PAYMENT_ID
JOIN V_RESERV VR
ON V.V_ID = VR.V_ID
LEFT OUTER JOIN S_ALLOW sa 
ON sa.S_ALL_ID = v.S_ALL_ID  
LEFT OUTER JOIN S_APPLY sp
ON sp.S_APP_ID = sa.S_APP_ID 
LEFT OUTER JOIN V_REF_REF VRR
ON VRR.V_ID = V.V_ID 
LEFT OUTER JOIN V_CAN_REF VCR
ON VR.V_RES_ID = VCR.V_RES_ID
LEFT OUTER JOIN V_NOS_REF VNR
ON VR.V_RES_ID = VNR.V_RES_ID
WHERE TM.T_MEM_ID=#{temId}
AND VRR.V_REF_REF_DATE IS NULL
AND VCR.V_CAN_REF_DATE IS NULL
AND VNR.V_NOS_REF_DATE IS NULL
AND V.V_START_DATE <![CDATA[>]]> SYSDATE
    </select>
<!-- AND SYSDATE >= V.V_START_DATE -->
<!--       AND SYSDATE < V.V_END_DATE     -->
    
    <select id="tempIdsearch" resultType="String">
    
       SELECT T_MEM_ID
      FROM MEMBER M JOIN TMP_MEM TM           
      ON M.TMP_MEMBER_ID = TM.T_MEM_ID
      JOIN PET_SHARE PS
      ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
      JOIN V_PET_CHO VPC
      ON PS.P_SHA_ID = VPC.P_SHA_ID
      JOIN V V
      ON VPC.V_ID = V.V_ID
      JOIN S_ALLOW SA
      ON V.S_ALL_ID = SA.S_ALL_ID
      JOIN S_APPLY S
      ON SA.S_APP_ID = S.S_APP_ID
      JOIN V_RESERV VR
      ON V.V_ID = VR.V_ID
      JOIN V_CONFIRM VC
      ON VR.V_RES_ID = VC.V_RES_ID
      WHERE MEM_ID_ID = #{id}
    </select>
    
    <!-- 방문 서비스 수락 대기중 리스트 -->
    <select id="waitingAcceptanceList" resultType="Member" parameterType="String">
     SELECT V.V_ID AS vid, V.V_CLI_ADDR AS addr, TO_CHAR(V_START_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS startDate
      , TO_CHAR(V_END_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS endDate, TO_CHAR(V.V_REQ_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS reqDate
      ,P_TOTAL AS totalPrice, (SELECT MEM_NICKNAME 
      						   FROM MEMBER 
      						   WHERE sp.TMP_MEMBER_ID=TMP_MEMBER_ID) AS petsitterNickname,(SELECT MEM_IMG  
	   FROM MEMBER 
	   WHERE sp.TMP_MEMBER_ID=TMP_MEMBER_ID) AS petsitterProfile
FROM MEMBER M JOIN TMP_MEM TM
ON M.TMP_MEMBER_ID = TM.T_MEM_ID
JOIN PET_SHARE PS
ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
JOIN V_PET_CHO VPC
ON VPC.P_SHA_ID = PS.P_SHA_ID
JOIN V V
ON VPC.V_ID = V.V_ID
LEFT OUTER JOIN S_ALLOW sa 
ON sa.S_ALL_ID = v.S_ALL_ID  
LEFT OUTER JOIN S_APPLY sp
ON sp.S_APP_ID = sa.S_APP_ID 
JOIN PAY P
ON P.P_ID = V.PAYMENT_ID
LEFT OUTER JOIN V_REF_REF VRR
ON VRR.V_ID = V.V_ID
LEFT OUTER JOIN V_RESERV VR
ON V.V_ID = VR.V_ID  
WHERE TM.T_MEM_ID= #{temId}
AND VRR.V_REF_REF_DATE IS NULL 
AND VR.V_RES_DATE IS NULL
    </select>
    
 
</mapper>