<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="petpple.kiwi.member.repository.UserMapper">

	<!-- 회원 추가 -->
	<insert id="PRC_TMP_MEMBER" statementType="CALLABLE" parameterType="User"> 
	{ CALL PRC_TMP_MEMBER( 
	      #{name}, #{id}, #{pw}, #{tel}, #{ssn1}, #{ssn2}, #{nickname}, #{code}, #{email}, #{addr}, 
	      #{detailAddress}, #{lat}, #{lng}, 'test')
	}
	
	</insert>
	
	<!-- 회원 수정 -->
	
	<!-- 회원 삭제 -->
	<delete id="deleteUser">
		DELETE 
		FROM MEMBER
	    WHERE ID = #{ID}
	</delete>
	
	<!-- 회원 수 조회 --> 
	<select id="getCount" resultType="java.lang.Integer">
	     SELECT COUNT(*) AS COUNT 
	     FROM MEMBER
	</select>
	
	<!-- 회원 리스트 출력 -->
	<!-- 
		<select id="getUserList" resultType="member/src/main/java/petpple/kiwi/member/domain/User.java"></select>
		SELECT 
		FROM MEMBER 
	-->
	<!-- 로그인 -->
	<select id="userLogin" resultType="User">
		SELECT *
		FROM MEMBER
		WHERE MEM_ID_ID= #{id} AND MEM_PW = #{pw}
	</select>
	
	
	<!-- 회원 ID 찾기 -->
		
<!-- 		SELECT  -->
<!-- 		FROM MEMBER -->
<!-- 		WHERE EMAIL = #{email} -->
<!-- 		AND NAME = #{name}	 -->
	<!-- 회원 PW 찾기 -->
	
</mapper>
