<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="petpple.kiwi.member.repository.vService.IVisitService">

	<select id="getVSitterList" parameterType="HashMap" resultType="Sitter">
		SELECT allowId,name ,addr ,title,smokeId,time,profileImg,count ,reviewCnt,stars
		FROM SITTERLIST
		WHERE #{start} <![CDATA[<]]>=NUM AND NUM  <![CDATA[<]]>=#{end} AND TMP_MEMBER_ID != #{temId}
	</select>
	
	<select id="getVSitterProfile" parameterType="String" resultType="Sitter">
		SELECT B.ALLOWID AS allowId, B.NICKNAME AS name , B.ADDR AS addr , B.TITLE AS title, B.SMOKEID AS smokeId, B.TIME AS time, 
		B.count AS count , B.REIVEWCNT AS reviewCnt, ROUND((NVL(V.STARS,0)+NVL(F.STARS,0))/DECODE(B.REIVEWCNT,0,1,B.REIVEWCNT)) AS STARS,B.CONTENT AS content
		,B.lat AS lat ,B.lng AS lng, B.petSize AS petSizeId,B.PROFILE AS profileImg
		FROM BUILDUPFORSTAR B
		LEFT OUTER JOIN V_REVIEW_CNT V
		ON B.TMP_MEMBER_ID = V.TMP_MEMBER_ID
		LEFT OUTER JOIN F_REVIEW_CNT F
		ON B.TMP_MEMBER_ID = F.TMP_MEMBER_ID
		WHERE B.ALLOWID = #{allowId}
	</select>
	
	<select id="getReviews" parameterType="String" resultType="ReviewProfile">
		SELECT name,profile,revdate,content,img1,img2,img3
		FROM GETSITTERREVIEW
		WHERE id = #{id}
	</select>
	
	
	<select id="getPet" parameterType="String" resultType="Pet" >
	
		SELECT ps.P_SHA_ID as shaId, p.PET_NAME AS name,(CASE WHEN p.PET_WEIGHT <![CDATA[>]]>=15 THEN '1'
								  					 	 WHEN p.PET_WEIGHT<![CDATA[>]]>=7 THEN '2'
								    					 ELSE '3' END) AS weightId
		FROM PET P
		INNER JOIN PET_SHARE ps 
		ON p.PET_ID = ps.PET_ID
		WHERE ps.TMP_MEMBER_ID = #{temId}
	</select>
	
	<insert id="requestVisitService" statementType="CALLABLE" parameterType="VisitService"> 	
		{CALL PRC_INSERT_V(#{pay},#{refAccNum},'50291073077107',#{refDepositor},'최동현','1',#{refBankId},#{code},#{addr},#{detailAddress},#{lat},#{lng}
		,TO_DATE(#{start},'YYYY-MM-DD HH24:MI:SS'),TO_DATE(#{end},'YYYY-MM-DD HH24:MI:SS'),#{content}, #{careType},#{allowId})}

	</insert>
	
	<insert id="requestPetChoice" parameterType="string">
		INSERT INTO V_PET_CHO (V_PET_CHOICE_ID,V_ID,P_SHA_ID) VALUES (SEQ_V_PET_CHOICE_ID.NEXTVAL,(SELECT TO_CHAR(LAST_NUMBER-1)
		FROM USER_SEQUENCES 
		WHERE SEQUENCE_NAME = 'SEQ_V_ID'),#{petShaId})
	</insert>
	
</mapper>