@charset "UTF-8";

.box_white {
	background-color: white;
	border: 1px solid rgba(227, 226, 226, 0.913);
	box-shadow: 1px 1px 1px rgb(222, 214, 214);
	border-radius: 4px;
	padding: 10px;
}

.tab_Info {
	vertical-align:middle !important;
	text-align:center;
}

.tab_Info th {
	background-color: #efefef!important;
}

.petImg > img {
	width:45px;
	height:45px;
	object-fit: cover;
	border-radius: 30px;
}

.show_button{
  background-color:#FE5C17 !important;
  color: white !important;
}

.btnOrange {
	color: #FE5C17;
}